@{
    ViewBag.Title = "Xóa Nhà cung cấp";
}
@{

}

<div class="box box-danger">
    <div class="box-body">
        <form action="#">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <p class="form-control-static">Nguyễn Mai Dũng</p>
            </div>
            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static">Ông Dũng</p>
            </div>
            <div class="form-group">
                <label>Số điện thoại:</label>
                <p class="form-control-static">0898188781</p>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static">nmd@gmail.com</p>
            </div>
            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static">6 Lê Đức Toàn</p>
            </div>
            <div class="form-group">
                <label>Tỉnh/Thành:</label>
                <p class="form-control-static">Huế</p>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    Xác nhận xóa
                </button>
                <a href="~/Supplier" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>