<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="~/">
                    <i class="fa fa-home"></i> <span>Trang chủ</span>
                </a>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa-regular fa-floppy-disk"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Category"><i class="fa-solid fa-tag"></i> Loại hàng</a></li>
                    <li><a href="~/Supplier"><i class="fa-solid fa-truck-field"></i> Nhà cung cấp</a></li>
                    <li><a href="~/Customer"><i class="fa-solid fa-users"></i> Khách hàng</a></li>
                    <li><a href="~/Shipper"><i class="fa-solid fa-dolly"></i> Người giao hàng</a></li>
                    <li><a href="~/Employee"><i class="fa-solid fa-user-tie"></i> Nhân viên</a></li>
                    <li><a href="~/Product"><i class="fa-solid fa-tag"></i> Mặt hàng</a></li>
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa-regular fa-floppy-disk"></i> <span>Quản lý bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order"><i class="fa-solid fa-list-check"></i> Danh mục đơn hàng</a></li>
                    <li><a href="~/Order/Create"><i class="fa-solid fa-cart-plus"></i> Lập đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- =============================================== -->