@model SV20T1020020.DomainModels.Category
@{
    ViewBag.Title = "Xóa Loại hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryId" method="post">
            <div class="form-group">
                <label>Tên loại hàng:</label>
                <p class="form-control-static">@Model.CategoryName</p>
            </div>
            <div class="form-group">
                <label>Mô tả:</label>
                <p class="form-control-static">@Model.Description</p>
            </div>
            <div class="form-group">
                <label>Ảnh minh hoạ:</label>
                <p class="form-control-static">
                    <img id="Photo" src="~/images/categories/@Model.Photo" style="width:200px" />
                </p>
            </div>
            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        Xác nhận xóa
                    </button>
                }
                <a href="~/Category" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>